<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674073369926-dbrp15hsk52pk60pn44nb7ptfbjq3tls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674073369926-dbrp15hsk52pk60pn44nb7ptfbjq3tls</string>
	<key>API_KEY</key>
	<string>AIzaSyDPX2PJTgkawbEk7jlIu0mXsH4YAzsSWgY</string>
	<key>GCM_SENDER_ID</key>
	<string>674073369926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.simim.Atv2Apps</string>
	<key>PROJECT_ID</key>
	<string>atividade-de-fixacao-02</string>
	<key>STORAGE_BUCKET</key>
	<string>atividade-de-fixacao-02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674073369926:ios:f17f3c1838efe4ed8ad947</string>
</dict>
</plist>